* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: rgb(66, 55, 55);
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}
/* NAV */

.nav {
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #2c8b00;
          box-shadow: 0 0 10px #2c8b00;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.nav_listlogo {
  margin-left: 15px;
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.nav_listlogo img {
  width: 100px;
}

.nav_listitem {
  margin-right: 0.2rem;
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;
}

.nav_listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: forestgreen;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}

.nav_listitem:hover::after, .nav_listitem:focus::after {
  width: 80%;
}

.nav_listitem:hover ul,
.nav_listitem:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav_listitemdown {
  position: absolute;
  top: 3.5rem;
  left: -1rem;
  -webkit-box-shadow: 0 0 10px #2c8b00;
          box-shadow: 0 0 10px #2c8b00;
  background-color: white;
  border-radius: 0rem;
  width: 10rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav_listitemdown li {
  list-style: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.nav_listitemdown li:hover, .nav_listitemdown li:focus {
  background-color: #4ab319;
}
.header {
  padding: 5rem 0 0 0;
}
.main-nav {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;

  .logo {
    width: 11rem;
  }
  ul {
    display: flex;

    &.main-menu {
      /* ul class="main-menu"*/
      flex: 1;
      margin-left: 2rem;
    }
    li {
      padding: 0 0.7rem;

      a {
        padding-bottom: 2px;
      }
      a:hover {
        border-bottom: 2px solid #262626;
      }
    }
  }
}

/*showcase */
.showcase {
  widows: 100%;
  height: 35rem;
  background: url("./ms_img/img/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem;
  margin-bottom: 2rem;
  h2,
  p {
    margin-bottom: 1rem;
  }
}

.btn {
  margin-top: 1rem;
  background-color: #262626;
  color: white;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
}

/*home cards*/
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 5rem;
  margin-bottom: 2rem;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
  a {
    display: inline-block;
    text-transform: uppercase;
    color: #0067b8;
    font-weight: bold;
    padding-top: 1rem;
  }
}

/*xbox*/

.xbox {
  width: 100%;
  height: 500px;
  background: url("./ms_img/img/xbox.png") no-repeat center center/cover;
  margin-bottom: 2rem;
  .content {
    width: 40%;
    padding: 5rem 0 0 3rem;
    h2 {
      font-size: 1.3rem;
    }
    p {
      margin: 1rem 0 1.5rem;
      font-size: 1.2rem;
    }
  }
}
/*carbon*/
.carbon_dark {
  width: 100%;
  height: 350px;
  background: url("./ms_img/img/carbon.jpg") no-repeat center center/cover;
  margin-bottom: 2rem;
  .content {
    width: 40%;
    padding: 5rem 0 0 3rem;
    h2 {
      font-size: 1.3rem;
      color: white;
    }
    p {
      color: white;
      margin: 1rem 0 1.5rem;
      font-size: 1.2rem;
    }
  }
}

/*follow*/
.follow {
  width: 80%;
  height: 50px;
  margin: 2rem;
  display: flex;
  p {
    padding-top: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 15px;
  }
  a {
    margin-left: 1rem;
  }
}
.links {
  width: 100%;
  height: flex;
  background-color: rgb(229, 226, 226);
  display: grid;
  padding: 2rem;
  grid-gap: 20px;
  .links-inner {
    width: 100%;
    display: grid;
    padding-left: 2.5rem;
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.footer {
  width: 100%;
  height: flex;
  background-color: rgb(229, 226, 226);
  padding: 0.5rem;
  .footer-inner {
    display: grid;
    grid-template-columns: 50% 50%;
    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      padding-left: 0.5rem;
    }
  }
}

@media (max-width: 700px) {
    
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .xbox {
    height: 40%;
    margin-bottom: 2rem;
    .content {
      width: 40%;
      padding: 2.5rem 0 0 1.5rem;
      p {
        display: none;
      }
      h2 {
        margin-bottom: 2rem;
      }
    }
  }
  .carbon_dark{
    .content {
        width: 40%;
        padding: 2.5rem 0 0 1.5rem;
        p {
          display: none;
        }
        h2 {
          margin-bottom: 2rem;
        }
      }
  }
  .links{
    height: 400px;
    .links-inner{
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }
  }
  .footer{
    height: 150px;
    .footer-inner{
        ul {
            padding: 1rem;
            grid-template-columns: repeat(3, 1fr);
          }
    }
  }
}
@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
  .xbox {
    .content {
      h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }
  }
  .btn {
    padding: 0.5rem 0.5rem;

    font-size: 0.9rem;
  }
  .links{
    height: 500px;
    .links-inner{
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
  }
  .footer{
    height: 180px;
    .footer-inner{
        ul {
            padding: 1rem;
            grid-template-columns: repeat(2, 1fr);
          }
    }
  }
}
