* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*全域變數*/
  font-size: 16px;
  /* 設定標準文字大小 16px = 1rem */
}

.nav {
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #2c8b00;
          box-shadow: 0 0 10px #2c8b00;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.nav_listlogo {
  margin-left: 15px;
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}

.nav_listlogo img {
  width: 100px;
}

.nav_listitem {
  margin-right: 0.2rem;
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;
}

.nav_listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 1rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: forestgreen;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}

.nav_listitem:hover::after, .nav_listitem:focus::after {
  width: 80%;
}

.nav_listitem:hover ul,
.nav_listitem:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav_listitemdown {
  position: absolute;
  top: 3.5rem;
  left: -1rem;
  -webkit-box-shadow: 0 0 10px #2c8b00;
          box-shadow: 0 0 10px #2c8b00;
  background-color: white;
  border-radius: 0rem;
  width: 10rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.nav_listitemdown li {
  list-style: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.nav_listitemdown li:hover, .nav_listitemdown li:focus {
  background-color: #4ab319;
}
.header {
  padding: 5rem 0 0 0;
}
body {
  background-color: rgba(234, 238, 208, 0);
}
#container {
  width: 90%;
  border: 2px solid purple;
  margin: 1.5rem;
}
#heading {
  width: 100%;
  height: 7rem;
  background-color: rgba(28, 204, 145, 0.63);
  padding-top: 5px;
  text-align: center;
  /*  */
}

#heading2 {
  display: flex;
  justify-content: space-between;
}

#heading2 ul {
  display: flex;
  list-style: none;
  margin-top: 1rem;
  padding-left: 20px;
}

#heading2 li {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

#heading2 li a {
  background-color: darkgrey;
  padding: 0.5rem;
}

#heading2 li a:hover {
  background-color: rgb(110, 110, 110);
  padding: 0.5rem;
}


#main {
  width: 100%;
  background-color: darkturquoise;
  display: flex; /* 內容並排*/
}
aside {
  width: 20%;
  background-color: darkturquoise;
}

aside ul {
  flex-direction: column;
  list-style: none;
  margin: 1rem;
  padding: 30px;
}

aside li {
  padding: 0.5rem;
  /* li 間隔 */
}
aside li a {
  background-color: darksalmon;
  padding: 0.5rem;
}

aside li a:hover {
  /* 鼠標移動至上方動作*/
  background-color: darkviolet;
}

#section {
  width: 80%;
  background-color: rgba(152, 230, 230);
}

/* for responsive YouTube videos */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  margin: 1rem;
  height: 96%;
  width: 96%;
  position: absolute;
}
#footer {
  width: 100%;
  height: 7rem;
  background-color: darkgrey;
}
#main ul li block1 {
  background-color: rgb(61, 26, 77);
}
